
body{
  margin: 0;
  padding: 0;
  font-family: 'Indie Flower', cursive;
  background: #f9f6ee;
  background-image: linear-gradient(#ede5d2 1px, transparent 1px);
  background-size: 100% 40px;
}

main{
    margin-top: -3%;
}

.day-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;

    padding: 60px 20px;
}

/* ALL collages */
.collage {
    max-width: 90%;
    height: auto;
}

/* MAIN HEART = HERO */
.collage.heart {
    width: 100%;
    filter: drop-shadow(0 7px 5px rgba(101, 56, 80, 0.25));
}

/* TEXT BETWEEN */
.caption-title {
    font-family: 'Indie Flower', cursive;
    font-size: 2rem;
    margin: 0;
}

.caption-text {
    font-family: 'Indie Flower', cursive;
    font-size: 1.3rem;
    text-align: center;
    max-width: 700px;
    margin-top: -10px;
}

.caption-p{
    margin-top: -20px;
    max-width: 50%;
    font-size: 1rem;
}

/* SECOND COLLAGE */
.collage.square {
    width: 80%;
    transform: rotate(3deg);
    filter: drop-shadow(0 8px 16px rgba(103, 64, 78, 0.2));
    padding: 25px 20px;
    /* background-color: #ffffff; */
    background-color: #fefcf5 ;
    background-image: radial-gradient(#d8cfc291 1.2px, transparent 1px);
    background-size: 10px 10px;
}

/* ===== PAGE ===== */
body {
    margin: 0;
    font-family: 'Indie Flower', cursive;
    background: #f9f6ee;
    background-image: linear-gradient(#ede5d2 1px, transparent 1px);
    background-size: 100% 40px;
}

/* ===== HEADER ===== */
.day-header {
    position: relative;
    text-align: center;
    padding: 30px 20px;
    color: #4e1d2d;
}

/* Title */
.day-header h1 {
    margin: 40px 0 0;
    font-size: 4rem;
}

.subtext{
    font-size: 1.5rem;
}

/* BACK BUTTON */
.back-button {
    position: absolute;
    top: 20%;
    left: 2%;

    text-decoration: none;
    font-size: 1.3rem;
    color: #a06c5d;
    font-weight: lighter;

    padding: 6px 10px;
    border-radius: 20px;
    transition: 0.2s;
    background: #f6eae1;
    border: 1px solid #a06c5d;
    text-align: center;
}

.back-button:hover {
    transform: scale(1.05);
}

/* ===== HEADER ===== */
.day-header {
    position: relative;
    text-align: center;
    padding: 30px 20px;
}

/* title */
.day-header h1 {
    margin: 0;
    font-size: 4rem;
}

.heart-text{
    margin-top: 30px;
    font-size: x-large;
    font-weight: 900;
    color: #a5838e;
    margin-bottom: -20px;
}

.butterfly{
    width: 20%;
    position: absolute;
    left: 5%;
    top: 105%;
    transform: rotate(-30deg);
    z-index: 0;
}
.photo{
    width: 20%;
    position: absolute;
    right: 3%;
    top: 145%;
}
